<mat-toolbar color="primary">
  <div >
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <span>Bonjour Personne X</span>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <form class="form-inline waves-light" mdbWavesEffect>
          <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </div>
        </form>
          <button mat-stroked-button color="primary" class="btn" (click)="logout()">Deconnecter</button>
     
    </ul>
  </div>
</mat-toolbar>
