<!--
    <div class="row">
    <div class="add-subject col-4" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
              <mat-card-title>Sujet</mat-card-title>
            </mat-card-header>
        
            <form class="example-form">
        
              <mat-card-content>
    
                <mat-form-field class="example-full-width">
                    <input [(ngModel)]="pfe.titre" name="titre" matInput placeholder="Titre">
                  </mat-form-field>
          
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="pfe.entreprise" name="entreprise" type="text" matInput placeholder="entreprise">
                  </mat-form-field>
          
                  <mat-form-field class="example-full-width">
                    <input [(ngModel)]="pfe.domaine" name="domaine" matInput placeholder="Domaine">
                  </mat-form-field>
      
        
              </mat-card-content>
            </form>
      </mat-card>
    </div> 

    <div class="add-subject col-4" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
              <mat-card-title>Encadrant Societé</mat-card-title>
            </mat-card-header>
        
            <form class="example-form">
        
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="pfe.titre" name="titre" matInput placeholder="Titre">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="pfe.entreprise" name="entreprise" type="text" matInput placeholder="entreprise">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="pfe.domaine" name="domaine" matInput placeholder="Domaine">
                </mat-form-field>
      
        
              </mat-card-content>
        
            </form>
      </mat-card>
    </div> 

    <div class="add-subject col-4" fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="box">
            <mat-card-header>
              <mat-card-title>Encadrant Facculté</mat-card-title>
            </mat-card-header>
        
            <form class="example-form">
        
              <mat-card-content>
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="pfe.titre" name="titre" matInput placeholder="Titre">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="pfe.entreprise" name="entreprise" type="text" matInput placeholder="entreprise">
                </mat-form-field>
        
                <mat-form-field class="example-full-width">
                  <input [(ngModel)]="pfe.domaine" name="domaine" matInput placeholder="Domaine">
                </mat-form-field>
    
              </mat-card-content>
        
            </form>
      </mat-card>
    </div> 


</div>
 
-->
    
  
     