<mat-card class="box">
  <form #addSubjectForm="ngForm">
    <!--Sujet-->
    <mat-card-header>
      <mat-card-title>Sujet</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
          <input [(ngModel)]="subject.title" name="titre" type="text" matInput placeholder="Intitulé" required>
        </mat-form-field>

        <mat-form-field>
          <textarea [(ngModel)]="subject.objective" name="objectif" type="text" matInput placeholder="Objectif du travail demandé" required></textarea>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Date du stage</mat-label>
          <mat-date-range-input  [rangePicker]="picker">
            <input matStartDate [(ngModel)]="subject.startDate" placeholder="Start date" [ngModelOptions]="{standalone: true}" required>
            <input matEndDate [(ngModel)]="subject.endDate" placeholder="End date" [ngModelOptions]="{standalone: true}" required>
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

      </mat-card-content>


            <!--Entreprise-->
            <mat-card-header>
              <mat-card-title>Entreprise d'accueil</mat-card-title>
            </mat-card-header>

            <mat-card-content>

              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.responsible" name="responsableEntreprise" matInput placeholder="Responsable de l'entreprise" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.address" name="adresseEntreprise" matInput placeholder="Adresse personnel" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.postalCode" name="codePostaleEntreprise" matInput placeholder="Code Postale" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.city" name="villeEntreprise" matInput placeholder="Ville" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.country" name="pays" matInput placeholder="pays" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.email" name="emailEntreprise" matInput placeholder="Email" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.phone" name="telEntreprise" type="number" matInput placeholder="Téléphone" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.fax" name="faxEntreprise" type="number" matInput placeholder="Fax" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterprise.website" name="siteEntreprise" matInput placeholder="Site" required>
              </mat-form-field>
              <br>

            </mat-card-content>



            <!--Encadrant de l'Entreprise-->
            <mat-card-header>
              <mat-card-title>Encadrant à l'entreprise</mat-card-title>
            </mat-card-header>

            <mat-card-content>

              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.lastname" name="encadrantEntrepriseNom" matInput placeholder="Nom" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.firstname" name="encadrantEntreprisePrenom" matInput placeholder="Prenom" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.grade" name="encadrantEntrepriseGrade" matInput placeholder="Grade/Specialite" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.email" name="encadrantEntrepriseEmail" type="email" matInput placeholder="Email" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.phone" name="encadrantEntrepriseTel" type="number" matInput placeholder="Téléphone" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.postalCode" name="encadrantEntreprisePoste" matInput placeholder="Poste" required>
              </mat-form-field>
              <br>
              <mat-form-field>
                <input [(ngModel)]="subject.enterpriseManager.fax" name="encadrantEntrepriseFax" type="number" matInput placeholder="Fax" required>
              </mat-form-field>
              <br>
              <br>
            </mat-card-content>
    </form>
    <button mat-stroked-button color="primary" class="btn-block" [disabled]="addSubjectForm.invalid" (click)="addSubject()">Ajouter</button>

  </mat-card>
