<mat-card class="card-pfe">

<mat-card-content>
    <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Sujet">
            <div class="head">
                <div class="col-8 left">
                    <h3>{{pfe.title}}</h3>
                </div>
                <div class="col-3 left">
                   <p>{{pfe.startDate}} - {{pfe.endDate}}</p>
                </div>
            </div>

            <div class="head">
                <div class="col-7 left">
                    <h4>Travail demandé:</h4>
                <p>{{pfe.objective}}</p>
                </div>
                <div class="col-2 left">
                    <h4>Outils</h4>
                    <ul>
                        <li>Angular</li>
                        <li>Material UI</li>
                        <li>MongoDB</li>
                    </ul>
                </div>
            </div>




        </mat-tab>

        <mat-tab label="Entreprise">
            <div class="head">
                <div class="col-10">

                    <div class="head">
                        <div class="col-6 left">
                            <h3>{{pfe.enterprise.name}}</h3>

                            <p>Contact</p>
                            <ul>
                                <li>Email: {{pfe.enterprise.email}}</li>
                                <li>Numéro: {{pfe.enterprise.phone}}</li>
                            </ul>
                        </div>
                        <div class="col-4 left">
                            <p>{{pfe.enterprise.description}}</p>
                        </div>
                    </div>



                </div>

            </div>
        </mat-tab>

        <mat-tab label="Encadrement">
            <div class="head">
                <div class="col-4 left">
                    <h3>Etudiant</h3>
                    <ul>
                        <li><h5>Flen FOULENI</h5></li>
                        <li><p>Spécialité: GL</p></li>
                        <li><p>Mail: foulen@gmail.com</p></li>
                    </ul>

                </div>
                <div class="col-4 left">
                    <h3>President du jury</h3>
                    <ul>
                        <li><p>pres 1</p></li>
                    </ul>
                    <h3>Examinateur</h3>
                    <ul>
                        <li><p>Exam1</p></li>
                        <li><p>Exam2</p></li>
                    </ul>
                </div>
                <div class="col-4 left">
                    <h3>Encadrants</h3>
                    <ul>
                        <li><p>Societé: {{pfe.enterpriseSupervisor.firstname}} {{pfe.enterpriseSupervisor.lastname}}</p></li>
                        <li><p>Facculté: Encadrant2</p></li>
                    </ul>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</mat-card-content>

    <mat-card-actions>
        <button mat-stroked-button color="primary" class="btn">Détails</button>
    </mat-card-actions>
</mat-card>




