<mat-nav-list>
  <a mat-list-item (click)="onAddUniversityYear()">
    <mat-icon>note_add</mat-icon> <span class="nav-caption">Ajouter Année Universitaire</span>
  </a>
  <a mat-list-item (click)="onAddStudent()">
    <mat-icon>person_add</mat-icon> <span class="nav-caption">Ajouter Etudiant</span>
  </a>
  <a mat-list-item (click)="onAddProfessor()">
    <mat-icon>person_add</mat-icon><span class="nav-caption">Ajouter Enseignant</span>
  </a>
  <a mat-list-item (click)="onCheckPFEs()">
    <mat-icon>notes</mat-icon> <span class="nav-caption">PFEs</span>
  </a>
  <a mat-list-item (click)="onCheckPendingSubjects()">
    <mat-icon>pending_actions</mat-icon> <span class="nav-caption">Sujets en attente</span>
  </a>
  <a mat-list-item (click)="onAddSession()">
    <mat-icon>playlist_add</mat-icon> <span class="nav-caption">Ajouter Session</span>
  </a>
</mat-nav-list>
